@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

    :focus-visible {
        outline: 3px solid var(--Azul);
        outline-offset: 3px;
    }
}

html {
    scroll-behavior: smooth;
}

:root {
    --Azulsuave: #6FA8DC;
    --VerdeClaro: #A8E6CF;
    --AmareloPastel: #FFF3B0;
    --LilasSuave: #CBAACB;
    --CinzaClaro: #F5F5F5;
    --Azulescuro: #2E4A62;
    --Preto: #000000;
    --Verdeescuro: #0AF79F;
    --Azul: #1976CB;
    --Branco: #ffffff;
    --AzulClaro: #e1ecf0;
}

body {
    background-color: var(--CinzaClaro);
    color: var(--Preto);
}

/*--- HEADER ---*/
.header {
    background: linear-gradient(90deg, var(--VerdeClaro), var(--Azulsuave), var(--VerdeClaro), var(--Azulsuave));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 5px 0 1px;
    text-align: center;
}

/*Logo*/
.header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-logo {
    display: block;
    width: 50%;
    height: auto;
}

.arco-svg {
    width: 100%;
    height: 50px;
    margin-top: -35px;
}

.texto-arco {
    font-size: 18PX;
}

/*Barrra de navegação*/
.nav-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 30vh;
    background: linear-gradient(90deg, var(--VerdeClaro), var(--Azulsuave));
    clip-path: circle(100px at 0 -60%);
    transition: 1s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    pointer-events: none;
    border-radius: 0 0 30px 0;
    border: 4px 0 solid var(--Preto);
    z-index: 1000;

}

.link {
    font-size: 13px;
    opacity: 0;
    color: var(--Preto);
    white-space: nowrap;
    transition: opacity 0.5s ease;
}

.link:hover {
    color: var(--Azulsuave);
    text-decoration: underline;
}

.link:active,
.link:focus {
    color: var(--Preto);
}

.navegacao.active .nav-link {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
}

.navegacao.active .nav-link .link {
    opacity: 1;
}

.nav-link li:nth-child(1) .link {
    transition-delay: 0.2s;
}

.nav-link li:nth-child(2) .link {
    transition-delay: 0.4s;
}

.nav-link li:nth-child(3) .link {
    transition-delay: 0.6s;
}

.nav-link li:nth-child(4) .link {
    transition-delay: 0.8s;
}

.nav-link li:nth-child(5) .link {
    transition-delay: 1s;
}

/* Botão hamburguer */
.hamburger {
    display: block;
    z-index: 1;
    border: none;
    background: none;
    border-top: 3px solid var(--CinzaClaro);
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 16px;
    z-index: 10000;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    display: block;
    width: 25px;
    height: 3px;
    background: var(--CinzaClaro);
    margin-top: 4px;
    position: relative;
    transition: 0.3s;
}

/* Botão hamburguer fechar */
.navegacao.active .hamburger {
    position: absolute;
    top: 15px;
    left: 16px;
    border-top-color: transparent;
}

.navegacao.active .hamburger::before {
    transform: rotate(135deg);
}

.navegacao.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}


/* Barra de busca */
.barra-de-busca {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: var(--CinzaClaro);
    border-radius: 5px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.2s ease;
    width: 70%;
    height: auto;
}

.barra-de-busca img {
    width: auto;
    height: auto;
}

.barra-de-busca.active {
    max-height: 60px;
    opacity: 1;
}

.pesquisar {
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    background-color: var(--CinzaClaro);
    height: auto;

}

.sr-only {
    position: absolute;
    width: 100px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.search-btn {
    display: block;
    z-index: 1;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 16px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: transparent;

    img {
        width: 100%;
        height: auto;
    }
}

/*------ FOOTER ------*/
.conteiner-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    border: 1px solid var(--Azulsuave);
    background: linear-gradient(180deg,
            color-mix(in srgb, var(--VerdeClaro) 25%, var(--CinzaClaro)),
            color-mix(in srgb, var(--Azulsuave) 25%, var(--CinzaClaro)));
}

.img-footerlogo {
    display: block;
    width: 20%;
    height: auto;
}

.item-footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1px;
    max-width: 300px;
    width: 100%;

    p {
        width: auto;
    }
}

.mapa-site {
    display: flex;
    flex-direction: column;
    gap: 3px;

    li a {
        color: var(--Preto);
    }

    li a:hover {
        color: var(--Azulsuave);
        text-decoration: underline;
    }
}

.img-footer3 {
    height: auto;
    width: auto;
}

.item-footer3 a {
    color: var(--Preto);
    padding: 5px;

}

.item-footer2 {
    width: 100%;
}

.item-footer3 {
    width: 100%;
    height: auto;
}

.item-footer4 {
    width: 100%;
}

.item-footer4 ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}

.item-footer4 ul li a {
    color: var(--Preto);
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.img-instagram {
    width: 24px;
    height: 24px;
}

.item-footer5 {
    margin-top: 5px;
    width: 100%;
}

.voltar-topo {
    color: var(--Preto);
    text-decoration: underline;
}

.Copyright {
    text-align: center;
    padding: 10px;
    font-size: 13px;
}


/* ------ SOBRE NÓS ------ */

/* .secao-sobreNos01 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 20px;
} */

.sobreNos-img-text {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.sobreNos-img-text img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sobreNos-img-text h1 {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    text-align: center;
    font-size: 15px;
    height: auto;
    width: 100%;
    padding: 15px;
}

.sobreNos-title-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px 50px 20px;
    gap: 20px;

    h2 {
        font-size: 20px;
        font-weight: normal;
    }

    p {
        font-size: 13px;
    }
}

.secao-sobreNos02 {
    background: linear-gradient(180deg,
            color-mix(in srgb, var(--VerdeClaro) 25%, var(--CinzaClaro)),
            color-mix(in srgb, var(--Azulsuave) 25%, var(--CinzaClaro)));
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: auto;
    padding: 10px;
    /* box-shadow: 2px 6px 6px 6px var(--Azulsuave);
    border-radius: 20px; */
}

.misao-visao-valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    gap: 15px;
    width: 100%;
    height: auto;

}

.misao-visao-valores img {
    width: 30%;
    height: auto;
}

.misao-visao-valores h3 {
    font-size: 15px;
}

.misao-visao-valores p {
    /* text-align: center; */
    font-size: 10px;
}

.secao-sobreNos03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 15px;
    gap: 20px;
}

.sobreNos03-titulo-texto {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h2 {
        font-size: 16px;
        color: var(--Azulsuave);
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 13px;
    }
}

.div-img03 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 20px 0 0 50px;
}

.div-img03 .foto1 {
    height: auto;
    width: 100%;
    border-radius: 25px 10px;
}

.div-img03 .foto2 {
    height: auto;
    width: 50%;
    border-radius: 10px 25px 10px 10px;
}

.div-img03 .foto3 {
    height: auto;
    width: 100%;
    border-radius: 10px 10px 10px 25px;
    margin-left: 50px;
}

.secao-sobreNos04 {
    inset: 0;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    height: auto;
    width: 100%;
    box-shadow: 2px var(--Azulsuave);
}

.secao-sobreNos04 h2 {
    color: var(--Preto);
    font-size: 25px;
    margin-bottom: 2px;
    font-weight: normal;
}

/* .contato-caixa {
    position: relative;
    background-color: var(--Branco);
    width: 100%;
    max-width: 100%;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid var(--Azulsuave);
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato input {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    border: 1.8px solid var(--Azulsuave);
    font-size: 13px;
}

.contato textarea {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    border: 1.8px solid var(--Azulsuave);
    font-size: 13px;

}

.contato textarea {
    min-height: 90px;
    resize: none;
}

.linha {
    display: flex;
    gap: 8px;
}

.linha input {
    flex: 1;
}

.contato button {
    align-self: center;
    padding: 8px 20px;
    border-radius: 18px;
    background-color: var(--VerdeClaro);
    font-size: 13px;
    cursor: pointer;
}

.contato button:hover {
    background-color: var(--Verdeescuro);
} */

/*------ FAMILIA ------*/
/* Home Familia */

.homeFamalia {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.homeFamalia img {
    width: 100%;
    height: auto;
    /* mantém proporção */
    display: block;
    /* remove espaços extras */
}

/* CONTAINER GERAL */
.conteiner-homeFamilia {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* margin: 20px; */
}

/* CARD */
.card-HomeFamilia {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: auto;
}

/* IMAGEM */
.card-HomeFamilia img {
    width: 80%;
    height: auto;
    display: block;
    border-radius: 12px;
}

/* CONTEÚDO */
.card-HomeFamilia div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
     width: 80%;
    height: auto;
}

/* TÍTULO */
.card-HomeFamilia h2 {
    font-size: 20px;
    color: var(--Preto);
    margin: 0;
    font-weight: normal;

}

/* TEXTO */
.card-HomeFamilia p {
    font-size: 13px;
    line-height: 1.6;
    margin: 0;
}

/* BOTÃO */
.familia-saiba-mais {
    width: fit-content;
    padding: 10px 15px;

    background-color: var(--Azulsuave);
    color: var(--Preto);
    font-size: 13px;

    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* HOVER BOTÃO */
.familia-saiba-mais:hover {
    background-color: var(--LilasSuave);
    transform: scale(1.05);
}

/* Hora do Brincar juntos */
.familia-hora-brincar {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
    width: 100%;
    height: auto;
padding: 20PX;

    div {
        background-color: var(--VerdeClaro);
        width: 100%;
        height: auto;
        border-radius: 30px 0 0 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;

    }

    div h2 {
        font-weight: normal;
        font-size: 20px;
    }

    div p {
        padding: 15PX;
         font-size: 13px;
    }
    .p2 {
        font-size: 15px;
    }
}

.familia-hora-brincar-img {
    width: 100%;
    height: auto;
    border-radius: 0 30px 30px 0;
}

/* Fale com a gente */

.familia-contato-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* desktop */
    /* gap: 10px; */
    width: 100%;
    position: relative;
    z-index: 1;  /* imagens ficam no fundo */


    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    /* película branca */
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.65);
        pointer-events: none;
    }
}

.familia-contato {
    position: relative; /* cria contexto */
    width: auto;
    height: auto;
}

/* texto por cima */
.familia-contato-texto {
    position: absolute;
    inset: 0;               /* ocupa toda a área */
    z-index: 2;             /* fica acima das imagens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 20px; */
    gap: 1px;
    width: 100%;
    height: auto;

    h2 {
        font-size: 12px;
        font-weight: normal;
    }
    p {
        font-size: 10px;
    }
}

.fale-gente {
    font-size: 10px;
    background: var(--Azulsuave);
    padding: 3px 8px;
    color: var(--Preto);
    border-radius: 20px;
    cursor: pointer;
}


.contato-overlay {
    position: fixed;
    inset: 0;
    padding: 40px 20px;
    display: none; /* escondido */
    flex-direction: column;
    align-items: center;
    z-index: 999;  
    h2{
        font-size: 20px;
    }
}

.form-contato{
    input{
        font-size: 13px;
    };
    textarea{
        font-size: 13px;
    };
    button{
        font-size: 15px;
    }
}

/* quando ativo */
.contato-overlay.active {
    display: flex;
}

/* botão fechar */
.fechar {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    cursor: pointer;
}

/* Sobre o Autismo e Meu filho é autista e agora */
.navegacao-das-paginas {
    color: var(--Azul);
    font-size: 13px;
    padding: 15px;

    a {
        color: var(--Azul);
    }
}

.banner-imagem-principal {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-imagem-principal img {
    width: 80%;
    max-width: 100%;
    /* controla o “miolo” do site */
    height: auto;
    margin: 10px auto;
    object-fit: cover;
    border-radius: 12px;
    /* opcional */
}

.familia-titulo {
    width: 90%;
    /* max-width: 1100px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;

    h1 {
        font-size: 20px
    }

    ;

    p {
        font-size: 13px
    }
}

.secao-familia {
    background: linear-gradient(90deg, var(--VerdeClaro), var(--Azulsuave), var(--Branco));
    color: var(--Preto);
    cursor: pointer;
    padding: 10px;
    /*width: 50%;*/
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 15px;
    }

    ;

    p {
        font-size: 13px;
    }
}

/* Ao passar o mouse */
.secao-familia:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 10px 25px var(--Azulescuro);
}

/* PAINEL ESCONDIDO */
.painel-familia {
    padding: 0 18px;
    background-color: var(--CinzaClaro);
    display: none;
    overflow: hidden;
}

/* PAINEL VISÍVEL */
.painel-familia.active {
    display: block;
}

.secao-familia::after {
    content: '+';
    color: #777;
    font-weight: bold;
    font-size: 20px;
}

.secao-familia.active::after {
    content: '−';
}

/* inclusão alimentar x autismo e Alfabetização x autismo */
/* Grid de cards */
.familia-card-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
}

/* Cards */
.card-familia {
    background-color: var(--AzulClaro);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px var(--Azulsuave);

    h2 {
        font-size: 15px;
    }

    ;

    p {
        margin-bottom: 10px;
        font-size: 13px;
    }

    ;

    li {
        font-size: 13px;
    }

}

/* Listas */
.card-familia ul {
    padding-left: 20px;
}

.card-familia li {
    margin-bottom: 6px;
}

/*Imagens dos cards*/
.cad-img-familia {
    width: 100%;
    border-radius: 12px;

}

/* Dicas de Organização para a Rotina de Crianças Autista em Casa e Fora de casa */
.cards-organizacao-e-rotina {
    h1 {
        font-size: 20px;
        color: var(--Azul);
        /* Cor primária para destaque */
        margin-bottom: 15px;
        border-bottom: 2px solid var(--Azulescuro);
        padding-bottom: 5px;
    }

    ;

    h3 {
        color: var(--Azulescuro);
        margin-top: 25px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    ;

    p {
        font-size: 13px;
        color: var(--Preto);
    }
}

.cards-organizacao-e-rotina {
    padding: 20px;
    max-width: 1200px;
    /* Evita que o conteúdo estique demais em telas ultra-wide */
    margin: 0 auto;
}

.card-organizacao-e-rotina {
    display: flex;
    /* Ativa o modo lado a lado */
    align-items: center;
    /* Alinha imagem e texto verticalmente ao centro */
    gap: 30px;
    margin-top: 20px;
    flex-direction: column;
    /* Itens lado a lado */
}

/*imagem responsiva dentro do card*/
.card-organizacao-e-rotina img {
    flex: 1;
    /* Ocupa uma parte proporcional */
    width: 100%;
    /* Garante que use o espaço do flex */
    max-width: 450px;
    /* Limite de tamanho para não ficar gigante no Desktop */
    height: auto;
    /* NUNCA use altura fixa se quiser responsividade */
    border-radius: 10px;
    object-fit: cover;
}

/*------ PROFISSIONAIS ------*/
/*------ LOJA ------*/
/* --- FORMULÁRIO - ENTRA NAS PÁGINAS: DA HOME, SOBRE-NÓS E FAMILIA --- */
.contato-box {
    position: relative;
    background-color: var(--Branco);
    width: 100%;
    max-width: 700px;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid var(--Azulsuave);
}

.form-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* inputs */
.form-contato input,
.form-contato textarea {
    width: 100%;
    padding: 16px 20px;
    border-radius: 16px;
    border: 1.8px solid var(--Azulsuave);
    font-size: 16px;
    
}

/* textarea */
.form-contato textarea {
    min-height: 160px;
    resize: none;
}

/* linha email + telefone */
.linha {
    display: flex;
    gap: 15px;
}

.linha input {
    flex: 1;
}

/* botão */
.form-contato button {
    align-self: center;
    padding: 14px 40px;
    border-radius: 18px;
    background-color: var(--VerdeClaro);
    font-size: 20px;
    cursor: pointer;
}

/* botão hover */
.form-contato button:hover {
    background-color: var(--Verdeescuro);
}

/* botão fechar */
.fechar {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    cursor: pointer;
}

@media (min-width: 650px) {

    /* --- HEADER --- */

    .header {
        background: linear-gradient(90deg, var(--CinzaClaro), var(--VerdeClaro), var(--Azulsuave));
        padding: 2px;
    }

    .img-logo {
        width: 55%;
    }

    .arco-svg {
        height: 60px;
        margin-top: -40px;
    }

    .nav-link {
        position: static;
        width: 100%;
        height: auto;
        background: none;
        clip-path: none;
        transition: none;
        flex-direction: row;
        gap: 20px;
        pointer-events: auto;
    }

    .link {
        opacity: 1;
        font-size: 15px;
        transition: none;
    }

    .nav-link li .link {
        transition-delay: 0s;
    }

    .hamburger {
        display: none;
    }

    .barra-de-busca {
        padding: 5px;
        width: 50%;
    }

    .pesquisar {
        font-size: 15px;
    }

    /* --- FOOTER --- */

    .conteiner-footer {
        flex-direction: unset;
        gap: 1px;
        padding: 5px;
        white-space: nowrap;
        width: 100%;
        align-items: stretch;
    }

    .img-footerlogo {
        width: 30%;
    }

    .item-footer1 {
        gap: 1px;
        white-space: normal;

        p {
            white-space: normal;
        }
    }

    .item-footer3 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .item-footer5 {
        margin-top: 60px;
    }

    .Copyright {
        font-size: 15px;
    }

    /* --- SOBRE NÓS --- */

    .sobreNos-img-text h1 {
        font-size: 18px;
        padding: 25px;
        width: 50%;
        height: 70%;
    }

    .sobreNos-title-text {
        padding: 0 30px 60px 30px;
        gap: 25px;

        h2 {
            font-size: 24px;
        }

        p {
            font-size: 15px;
        }
    }

    .secao-sobreNos02 {
        gap: 20px;
    }

    .misao-visao-valores {
        gap: 20px;
    }

    .misao-visao-valores h3 {
        font-size: 18px;
    }

    .misao-visao-valores p {
        font-size: 15px;
    }

    .secao-sobreNos03 {
        padding: 25px 20px;
        gap: 25px;
    }

    .sobreNos03-titulo-texto {
        gap: 20px;

        h2 {
            font-size: 20px;
        }

        h3 {
            font-size: 18px;
        }

        p {
            font-size: 15px;
        }
    }

    .secao-sobreNos04 {
        padding: 50px;
    }

    .secao-sobreNos04 h2 {
        font-size: 30px;
    }

    .contato-caixa {
        width: 60%;
    }

    .contato input {
        font-size: 15px;
    }

    .contato textarea {
        font-size: 15px;

    }

    .contato button {
        font-size: 15px;
    }

    /*------ FAMILIA ------*/
    /* Home Familia */
     .conteiner-homeFamilia {
    gap: 10px;
}

/* CARD */
.card-HomeFamilia {
    flex-direction: row;
    gap: 25px;
    margin: 20px 40px;
}

/* IMAGEM */
.card-HomeFamilia img {
    width: 50%;
    
}

/* CONTEÚDO */
.card-HomeFamilia div {
    gap: 15px;
}

/* TÍTULO */
.card-HomeFamilia h2 {
    font-size: 24px;

}

/* TEXTO */
.card-HomeFamilia p {
    font-size: 15px;
}

/* BOTÃO */
.familia-saiba-mais {
    padding: 10px 15px;
    font-size: 18px;
}

/* Hora do Brincar juntos */
.familia-hora-brincar {
    flex-direction: row;
    gap: 10px;

    div {
        gap: 5px;
        padding: 15px;
    }

    div h2 {
        font-weight: normal;
        font-size: 24px;
    }

    div p {
        padding: 15PX;
         font-size: 15px;
    }
    .p2 {
        font-size: 15px;
    }
}


.familia-contato {
    position: relative; /* cria contexto */
    width: auto;
    height: auto;
}

/* texto por cima */
.familia-contato-texto {
    gap: 20px;

    h2 {
        font-size: 24px;
        font-weight: normal;
    }
    p {
        font-size: 15px;
    }
}

.fale-gente {
    font-size: 15px;
    padding: 10px 15px;
}


/* .contato-overlay {
    
} */

.form-contato{
    input{
        font-size: 15px;
    };
    textarea{
        font-size: 15px;
    };
    button{
        font-size: 18px;
    }
}

    .navegacao-das-paginas {
        font-size: 15px;
    }

    .banner-imagem-principal img {
        width: 80%;
    }

    .familia-titulo {
        h1 {
            font-size: 24px
        }

        ;

        p {
            font-size: 15px
        }
    }

    .secao-familia {
        width: 60%;

        h2 {
            font-size: 18px;
        }

        ;

        p {
            font-size: 15px;
        }
    }

    .secao-familia {
        margin: 2px 5%;
    }

    .painel-familia.active {
        margin: 2px 5%;
    }

    .familia-card-conteiner {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 30px;
    }

    .card-familia {
        h2 {
            font-size: 18px;
        }

        ;

        p {
            font-size: 15px;
        }

        ;

        li {
            font-size: 15px;
        }
    }

    .card-organizacao-e-rotina {
        flex-direction: row;
        /* Empilha um em cima do outro */
        text-align: center;
        /* Centraliza o texto no mobile */
    }

    .card-organizacao-e-rotina img {
        max-width: 50%;
        /* Imagem ocupa a largura total disponível */
    }

    .card-organizacao-e-rotina p {
        margin-top: 15px;
        /* Espaço entre imagem e texto */
        flex: 1;
    }

    /*------ PROFISSIONAIS ------*/
    /*------ LOJA ------*/
}


@media (min-width: 999px) {
    .header {
        flex-direction: row;
        padding: 5px 100px 0 100px;
        gap: 20px;
        height: 100px;
    }

    .logo {
        height: auto;
        width: 550px;
    }

    .img-logo {
        width: 60px;
    }

    .navegacao {
        width: 100%;
        height: auto;
    }

    .link {
        font-size: 16px;
    }

    .search-btn {
        display: none;
        position: static;
    }

    .barra-de-busca {
        max-height: none;
        opacity: none;
        opacity: 1;
        overflow: visible;
    }

    .pesquisar {
        font-size: 16px;
    }

    .conteiner-footer {
        font-size: 16px;
        padding: 10px 50px;
    }

    .Copyright {
        font-size: 18px;
    }

    /* --- SOBRE NÓS --- */

    .sobreNos-img-text img {
        height: 20rem;
    }

    .sobreNos-img-text h1 {
        font-size: 20px;
    }

    .sobreNos-title-text {
        h2 {
            font-size: 26px;
        }

        p {
            font-size: 18px;
        }
    }

    .secao-sobreNos02 {
        gap: 30px;
        padding: 25px 50px;
    }

    .misao-visao-valores h3 {
        font-size: 20px;
    }

    .misao-visao-valores p {
        font-size: 18px;
    }

    .secao-sobreNos03 {
        padding: 50px 0 50px 50px;
        gap: 20px;
        flex-direction: row;
    }

    .sobreNos03-titulo-texto {
        width: 80%;

        h2 {
            font-size: 26px;
        }

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
        }
    }

    .div-img03 {
        padding: 0;
        gap: 30px;
    }

    .secao-sobreNos04 h2 {
        font-size: 35px;
    }

    .contato-caixa {
        width: 60%;
    }

    .contato input {
        font-size: 18px;
    }

    .contato textarea {
        font-size: 18px;

    }

    .contato button {
        font-size: 18px;
    }

    /*------ FAMILIA ------*/
    .navegacao-das-paginas {
        font-size: 16px;
    }

    .banner-imagem-principal img {
        height: 30rem;
    }

    .familia-titulo {
        h1 {
            font-size: 26px
        }

        ;

        p {
            font-size: 18px
        }
    }

    .secao-familia {
        h2 {
            font-size: 20px;
        }

        ;

        p {
            font-size: 18px;
        }
    }

    .familia-card-conteiner {
        gap: 50px;
        margin: 50px;
    }

    .card-familia {
        h2 {
            font-size: 20px;
        }

        ;

        p {
            font-size: 18px;
        }

        ;

        li {
            font-size: 18px;
        }
    }

    .cards-organizacao-e-rotina {
        h1 {
            font-size: 24px;
        }

        ;

        h3 {
            font-size: 18px;
        }

        ;

        p {
            font-size: 15px;
        }
    }

    /*------ PROFISSIONAIS ------*/
    /*------ LOJA ------*/
}

@media (min-width: 1250px) {

    .link {
        font-size: 20px;
    }

    .pesquisar {
        font-size: 20px;
    }

    .conteiner-footer {
        font-size: 20px;
        gap: 1px;
    }

    .Copyright {
        font-size: 20px;
    }

    /* --- SOBRE NÓS --- */
    .sobreNos-img-text img {
        height: 35rem;
    }

    .sobreNos-img-text h1 {
        font-size: 25px;
    }

    .sobreNos-title-text {
        h2 {
            font-size: 35px;
        }

        p {
            font-size: 20px;
        }
    }

    .misao-visao-valores h3 {
        font-size: 25px;
    }

    .misao-visao-valores p {
        font-size: 20px;
    }

    /* vai pegar */
    .secao-sobreNos03 {
        padding: 50px 0 50px 50px;
        gap: 20px;
        flex-direction: row;
    }

    .sobreNos03-titulo-texto {
        width: 80%;

        h2 {
            font-size: 35px;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }
    }

    .secao-sobreNos04 h2 {
        font-size: 40px;
    }

    .contato-caixa {
        width: 50%;
    }

    .contato input {
        font-size: 20px;
    }

    .contato textarea {
        font-size: 20px;

    }

    .contato button {
        font-size: 20px;
    }

    /*------ FAMILIA ------*/
    .navegacao-das-paginas {
        font-size: 18px;
    }

    .banner-imagem-principal img {
        height: 40rem;
    }

    .familia-titulo {
        h1 {
            font-size: 40px
        }

        ;

        p {
            font-size: 20px
        }
    }

    .secao-familia {
        h2 {
            font-size: 25px;
        }

        ;

        p {
            font-size: 20px;
        }
    }

    .card-familia {
        h2 {
            font-size: 20px;
        }

        ;

        p {
            font-size: 18px;
        }

        ;

        li {
            font-size: 18px;
        }
    }

    .cards-organizacao-e-rotina {
        h1 {
            font-size: 26px;
        }

        ;

        h3 {
            font-size: 20px;
        }

        ;

        p {
            font-size: 18px;
        }
    }

    /*------ PROFISSIONAIS ------*/
    /*------ LOJA ------*/
}